################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZaidimasGitHub/.vs/ZaidimasGitHub/v15
